<app-header></app-header>
<app-notfound
 [visible]="(!ficbooks || !ficbooks.length) && (!editorsbooks || !editorsbooks.length) && (!textbooks || !textbooks.length) && (!childrenbooks || !childrenbooks.length) && (!exambooks || !exambooks.length) && (!mythologicalbooks || !mythologicalbooks.length)"
resetLinkText="Reset Search">
</app-notfound>
<div style="margin-top: 10px;margin-bottom: 40px;background-color: #f9f4ef;padding-top: 20px;padding-bottom: 20px;">
   <ng-image-slider #nav
     [images]="imageObject"
     [infinite]="true"
     [autoSlide]="1"
     [imagePopup]="false"
    [manageImageRatio]="true"
    [autoSlide]="{ interval: 2, stopOnHover: false }"
    [showArrow]="false"
    [animationSpeed]="0.8"
     [imageSize]="{width: '100%', height: '500px'}"
     slideImage="1"></ng-image-slider>
 </div>
    <h2 class="product-category">Fiction Books</h2>
    <div class="container" *ngIf="ficbooks && ficbooks.length">
        <div class="card__container">
           <article class="card__article" *ngFor="let ficbook of ficbooks">
              <a [routerLink]="['/fiction',ficbook.id]" class="card__img"><img [src]="ficbook.imageUrl" alt="image" class="card__img"></a>

              <div class="card__data">
                  <h2 class="card__title">{{ficbook.title}}</h2>
                 <span class="card__description">{{ficbook.price | currency}}</span>
                 <a href="#" class="card__button">Read More</a>
              </div>
           </article>
        </div>
     </div>
     <h2 class="product-category">Text Books</h2>
     <div class="container" *ngIf="textbooks && textbooks.length">
         <div class="card__container">
            <article class="card__article" *ngFor="let textbook of textbooks">
               <a [routerLink]="['/text',textbook.id]" class="card__img"><img [src]="textbook.imageUrl" alt="image" class="card__img"></a>
 
               <div class="card__data">
                   <h2 class="card__title">{{textbook.title}}</h2>
                  <span class="card__description">{{textbook.price | currency}}</span>
                  <a href="#" class="card__button">Read More</a>
               </div>
            </article>
         </div>
      </div>
      <h2 class="product-category">Children Books</h2>
      <div class="container" *ngIf="childrenbooks && childrenbooks.length">
          <div class="card__container">
             <article class="card__article" *ngFor="let childrenbook of childrenbooks">
                <a [routerLink]="['/children',childrenbook.id]" class="card__img"><img [src]="childrenbook.imageUrl" alt="image" class="card__img"></a>
  
                <div class="card__data">
                    <h2 class="card__title">{{childrenbook.title}}</h2>
                   <span class="card__description">{{childrenbook.price | currency}}</span>
                   <a href="#" class="card__button">Read More</a>
                </div>
             </article>
          </div>
       </div>
       <h2 class="product-category">Editor's Choice Books</h2>
       <div class="container" *ngIf="editorsbooks && editorsbooks.length">
           <div class="card__container">
              <article class="card__article" *ngFor="let editorsbook of editorsbooks">
                 <a [routerLink]="['/editors',editorsbook.id]" class="card__img"><img [src]="editorsbook.imageUrl" alt="image" class="card__img"></a>
   
                 <div class="card__data">
                     <h2 class="card__title">{{editorsbook.title}}</h2>
                    <span class="card__description">{{editorsbook.price | currency}}</span>
                    <a href="#" class="card__button">Read More</a>
                 </div>
              </article>
           </div>
        </div>
        <h2 class="product-category">Exam Related Books</h2>
        <div class="container" *ngIf="exambooks && exambooks.length">
            <div class="card__container">
               <article class="card__article" *ngFor="let exambook of exambooks">
                  <a [routerLink]="['/exam',exambook.id]" class="card__img"><img [src]="exambook.imageUrl" alt="image" class="card__img"></a>
    
                  <div class="card__data">
                      <h2 class="card__title">{{exambook.title}}</h2>
                     <span class="card__description">{{exambook.price | currency}}</span>
                     <a href="#" class="card__button">Read More</a>
                  </div>
               </article>
            </div>
         </div>
         <h2 class="product-category">Mythological Books</h2>
         <div class="container" *ngIf="mythologicalbooks && mythologicalbooks.length">
             <div class="card__container">
                <article class="card__article" *ngFor="let mythologicalbook of mythologicalbooks">
                   <a [routerLink]="['/mythological',mythologicalbook.id]" class="card__img"><img [src]="mythologicalbook.imageUrl" alt="image" class="card__img"></a>
     
                   <div class="card__data">
                       <h2 class="card__title">{{mythologicalbook.title}}</h2>
                      <span class="card__description">{{mythologicalbook.price | currency}}</span>
                      <a href="#" class="card__button">Read More</a>
                   </div>
                </article>
             </div>
          </div>

