header{
    position: relative;
    background: white;
    padding: 0;
    background-color: #FFCC57;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  
  a:hover{
    cursor: pointer;
  }
  
  .container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  a.logo{
    padding: 10px;
    border-right: 1px solid black;
    margin-bottom: 5px;
  }

  ul{
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  ul a{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
  }
  
  a span{
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size:0.9rem;
  }
  
  .menu-container{
    position: relative;
    /* width: 0px; */
  }
  
  .menu{
    position:absolute;
    z-index:1;
    display: none;
    
  }
  
  .menu-container:hover .menu{
    display: block;
    border-radius: 20px;
  }
  
  .menu a{
    width: 100%;
    min-width:0rem;
  }