
<header>
    <a routerLink="/" class="logo"><img src="assets/Screenshot 2024-04-28 234315.png"></a><span class="line"></span>
    <div class="group">
      <ul class="navigation">
        <li *ngIf="!isAuth" >
          <a routerLink="/login" >LOGIN</a>
        </li>
        <li  class="menu-container" [class.logged-in]="userLoggedIn">
          <a routerLink="/dashboard" style="color:#fffffe;letter-spacing: 0em;" >{{user.name}}</a>
          <div class="menu" [class.logged-in]="userLoggedIn">
            <a routerLink="/profile" style="color: #fffffe;letter-spacing: 0em;">Profile</a>
            <a routerLink="/orders" style="color: #fffffe;letter-spacing: 0em;">Orders</a>
            <a (click)="logout()" style="color: #fffffe;letter-spacing: 0em;">Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart">
            CART <span *ngIf="cartquantity" >{{cartquantity}}</span>
          </a>
        </li>
      </ul>
      <div class="search">
        <span class="icon">
          <ion-icon name="search-outline" class="searchbtn" #searchbtn (click)="show()"></ion-icon>
          <ion-icon name="close-outline" class="closebtn" #closebtn (click)="close()"></ion-icon>
        </span>
      </div>
  </div>
  <div class="searchbox" #searchbox>
    <input #s type="text" placeholder="Type the book name here" (keyup.enter)="search(s.value)" [value]="searchTerm">
  </div>
</header>