<app-notfound
  [visible]="!ficbook.id"
  notFoundMessage="Book Not Found"
  resetLinkText="Back To Homepage">
</app-notfound>
<app-header></app-header>
<section class="main-wrap">
  <div class="product">
      <div class="image-gallery">
          <img [src]="ficbook.imageUrl" id="productImg" alt="">
      </div>
      <div class="product-details">
          <div class="details">
              <h2>{{ficbook.title}}</h2>
              <h3>{{ficbook.author}}</h3>
              <h4>{{ficbook.price}}</h4>
              <p>{{ficbook.description}}</p>
          </div>
          <div class="sizes">
              <form class="form">
                  <div class="select-size">
                      <h3>Tags:</h3>
                      <label for="sm">
                          <span class="tag">{{ficbook.tags}}</span>
                      </label>
                  </div>   
              </form>
          </div>
          <div class="colors">
              <form class="form">
                  <div class="select-color">
                      <h3>Favourite:</h3>
                      <label for="red">
                          <span class="favorite {{ficbook.favorite? '': 'not'}}">❤</span>
                      </label>
                  </div>   
              </form>
            </div>
          <div class="sub-btn">
              <button class="submit" (click)="addToCart()">Buy Now</button>
          </div>
      </div>
  </div>
</section>