.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 1rem;
  }
  
  .details{
    width: 28rem;
    border: 1px solid black;
    padding: 40px 50px;
    border-radius: 20px;
    }
    
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .error-list{
      color: red;
    }
    
    .register{
      display: flex;
      justify-content: center;
      align-items: center;
    }